.slider-img {
    height: 100px;
    cursor: pointer;
}

.sim-slider-arrow-left {
    cursor: pointer;
}

.sim-slider-arrow-right {
    cursor: pointer;
}

.full-img {
    align-content:center;
    height: 300px;
}

.product{
    height: 65px;
}

#bigPicture {
    display: flex;
}